@using MyShop.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Список товарів</h1>
<br>

<a asp-controller="product" asp-action="create">Додати товар</a>

<form method="get">
</form>

<table>
    <tr>
        <th>
            <a asp-action="Index">Id</a>
        </th>
        <th>
            <a asp-action="Index">Title</a>
        </th>
        <th>
            <a asp-action="Index">description</a>
        </th>
        <th>
            <a asp-action="Index">category</a>
        </th>
        <th>
            <a asp-action="Index">Price</a>
        </th>
        <th>
            <a asp-action="Index">ProducerId</a>
        </th>
        <th>
            <a asp-action="Index">Orders</a>
        </th>

    </tr>


    @foreach (var product in Model)
    {
        <tr>
            <td>@product.id</td>
            <td>@product.title</td>
            <td>@product.description</td>
            <td>@product.category</td>
            <td>@product.price</td>
            <td>@product.ProducerId</td>

            @if (product.ProductOrders != null)
            
                @foreach (var order in product.ProductOrders)
                {
                    <td>@order.id </td>
                }
            }
            else
            {
                <td>Замовлень ще немає</td>
            }

            <td>
                <form asp-controller="product" asp-action="edit" asp-route-id="@product.id">
                    <input type="submit" value="Редагувати"></input>
                </form>

            </td>
            <td>
                <form asp-controller="product" asp-action="delete" asp-route-id="@product.id">
                    <input type="submit" value="Видалити"></input>
                </form>
            </td>
            <!--TODO ORDERS-->
        </tr>
    }
</table>
